[Desktop Entry]
Name=MemProf
Name[sv]=MemProf
Comment=Memory Profiling tool
Comment[sv]=Minnesprofileringsverktyg
Exec=memprof
Terminal=0
Type=Application
